body, html {
    font: 400 15px/1.8 Lato, sans-serif;
    color: black;
}
h3, h4 {
    letter-spacing: 10px;      
    font-size: 20px;
    text-decoration: underline;
}


 .carousel{
    background-color: transparent;
    overflow: hidden;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}


.navbar {
    background-color: black;
    font-family: Montserrat, sans-serif;
    border-bottom: 1px solid;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.8;
    text-decoration: none;
    border-radius: 0%;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

#home, p, h1, h2, h3, h4, ul, .info{
    font-family: Montserrat;
    opacity: 10;
}


ul{
    padding-top: 10px;
}

footer {
    border: none;
    background-color: black;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.8;
    padding: 20px;
}

textarea {
    resize: none;
}

.form-control{
    border-radius: 25px;
    border: 1px solid;
    background: none;
}

.glyphicon-chevron-up{
    background-color: #abe8d6;
    border-radius: 50px;
    width: 5%;
}

#selfie{
    width: 25%;
    height: 25%;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

li{
    list-style: none;;
}

/*links style*/
a:link
{
    color: #c14378;
    font-style:oblique;
    text-decoration: none;
}

a:visited, .btn:visited
{
    color: #c14378;
    text-decoration: none;
}

a:hover, .btn:hover
{
    animation:rainbow 2s infinite;
    text-decoration: none;
}


/*for rainbow effect on hover*/
@keyframes rainbow {
    0% {color: #cc6e6e;}
    10% {color: #ccab6e;}
    20% {color: #b4cc6e;}
    30% {color: #75cc6e;}
    40% {color: #6eccb2;}
    50% {color: #6eb4cc;}
    60% {color: #6e7acc;}
    70% {color: #996ecc;}
    80% {color: #c46ecc;}
    90% {color: #cc6ea6;}
    100% {color: #cc6e6e;}
}




::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background:url(images/background.jpg); 
    background-size: 400% auto;
    border-left:0px solid #E5E5E5;
    border-right:0px solid #E5E5E5;
    border-bottom:0px solid #E5E5E5;
    border-top:0px solid #E5E5E5;
    border-radius:0%;
}
#scrollbardolliecrave {
    width:26px;
    height:20px;
    position: fixed;    
    left: 0px;    
    bottom: 0px;
}


@media screen and (min-width: 1024px) {

    #nav{
        visibility: visible;
    }
  
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
    body{
        padding-left: 10%;
        padding-right: 10%;
        }
        #nav{
            visibility: hidden;
        }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    body{
        padding-left: 10%;
        padding-right: 10%;
        }
    #nav{
        visibility: hidden;
    }

    footer{
        height: min-content;
    }
}